@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Roboto", sans-serif;
  padding: 20px;
  background: #f9f9f9;
}

.form-container {
  max-width: 500px;
  margin: 0 auto;
  background: #fff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.form-container h2 {
  margin-bottom: 12px;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

input,
button {
  width: 100%;
  padding: 8px;
  margin: 6px 0;
  box-sizing: border-box;
  font-size: 1rem;
}

button {
  background: #0066cc;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: .3s linear;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

#msg {
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}

a{
  text-decoration: none;
  color: #fefefe;
}

button:hover{
  background-color: #0058af;
}

p,
li{
  line-height: 23px;
}

strong{
  font-size: 1.02rem;
}

.campoBtn{
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr;
  align-items: center;
  gap: 1rem;
}

#addCnpjBtn{
  background-color: #ffff;
  color: #0058af;
  border: 2px solid #0058af;
}

#addCnpjBtn:hover{
  box-shadow: inset 1px 1px 8px 1px #02030346;
}

#removeCnpjBtn{
  background-color: #fff;
  color: #ff0000;
  border: 2px solid #ff0000;
}

#removeCnpjBtn:hover{
  box-shadow: inset 1px 1px 8px 1px #02030346;
}

.sim,
.nao{
  display: grid;
  grid-template-columns: 10px 2fr;
  gap: .5rem;
  align-items: center;
}

.dept-toggle{
  margin: 10px;
}

.dept-field{
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 10px;
}